(
    show_hierarchy: Some(true),
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("crc5_pipeline.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "crc5_tb",
                "dut",
                "ppl_g(2)",
                "ppl_reg_i",
            ],
            id: Wellen((39)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (30),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
                (
                    item_ref: (34),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (31),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (35),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (32),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (33),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "reset",
                    id: Wellen((36)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "clk48",
                    id: Wellen((35)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "clk48",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                            "dut",
                            "ppl_g(1)",
                            "ppl_reg_i",
                        ],
                        id: Wellen((35)),
                    ),
                    name: "b_data",
                    id: Wellen((199)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…ppl_g(1).ppl_reg_i.b_data [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Hexadecimal"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                            "dut",
                            "i_reg",
                        ],
                        id: Wellen((31)),
                    ),
                    name: "b_data",
                    id: Wellen((189)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…i_reg.b_data [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (29): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "din",
                    id: Wellen((37)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "din [10:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (14): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                            "dut",
                            "i_reg",
                        ],
                        id: Wellen((31)),
                    ),
                    name: "a_data",
                    id: Wellen((186)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "a_data [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (33): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                            "dut",
                            "ppl_g(3)",
                            "ppl_reg_i",
                        ],
                        id: Wellen((43)),
                    ),
                    name: "b_valid",
                    id: Wellen((220)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…ppl_g(3).ppl_reg_i.b_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (34): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                            "dut",
                            "ppl_g(1)",
                            "ppl_reg_i",
                        ],
                        id: Wellen((35)),
                    ),
                    name: "b_valid",
                    id: Wellen((200)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…ppl_g(1).ppl_reg_i.b_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (3): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                            "dut",
                            "i_reg",
                        ],
                        id: Wellen((31)),
                    ),
                    name: "a_ready",
                    id: Wellen((188)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "a_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (35): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                            "dut",
                            "ppl_g(2)",
                            "ppl_reg_i",
                        ],
                        id: Wellen((39)),
                    ),
                    name: "b_valid",
                    id: Wellen((210)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…ppl_g(2).ppl_reg_i.b_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "i_ready",
                    id: Wellen((40)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "i_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (21): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "i_valid",
                    id: Wellen((39)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "i_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (7): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "dout",
                    id: Wellen((38)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "dout [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (31): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                            "dut",
                            "ppl_g(2)",
                            "ppl_reg_i",
                        ],
                        id: Wellen((39)),
                    ),
                    name: "b_data",
                    id: Wellen((209)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…ppl_g(2).ppl_reg_i.b_data [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "o_valid",
                    id: Wellen((41)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                            "dut",
                            "i_reg",
                        ],
                        id: Wellen((31)),
                    ),
                    name: "a_data",
                    id: Wellen((186)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "a_data [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (32): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                            "dut",
                            "ppl_g(3)",
                            "ppl_reg_i",
                        ],
                        id: Wellen((43)),
                    ),
                    name: "b_data",
                    id: Wellen((219)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…ppl_g(3).ppl_reg_i.b_data [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                            "dut",
                            "i_reg",
                        ],
                        id: Wellen((31)),
                    ),
                    name: "a_valid",
                    id: Wellen((187)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "a_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "crc5_tb",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "o_ready",
                    id: Wellen((42)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 35,
        viewports: [
            (
                curr_left: (0.0),
                curr_right: (1.0),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            4131114336,
            9,
        ])),
        markers: {},
        selected_annotation: None,
        annotations: [],
        annotation_groups: [],
        annotation_list_visible: false,
        annotation_counter: 0,
        last_active_viewport_idx: 0,
        focused_item: Some((18)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: NanoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: Some(1.25),
    animation_enabled: None,
    trace_style: None,
    transition_value: None,
    toolbar_group_enabled: {},
    toolbar_group_rows: [
        [
            "menu",
            "files",
            "copy",
            "zoom",
            "navigation",
            "transitions",
            "add_items",
            "viewports",
            "undo",
            "cxxrtl",
            "time",
            "annotations",
        ],
    ],
    show_annotation_list: false,
)